<div class="header-wrapper">
  <div class="profile-container">
    <img
      class="profile-img"
      src="{{ site.baseurl }}/assets/images/{{ site.pic }}"
      alt="profile picture"
    />
  </div>

  <div class="container-block">
    {% if site.name %}
    <h1 class="name">{{ site.name }}</h1>
    {% endif %}
    
    {% if site.tagline %}
    <h3 class="tagline">{{ site.tagline }}</h3>
    {% endif %}
    
    <div>
      <a href="https://paramaggarwal.medium.com/subscribe"><div class="link">Subscribe to my newsletter for updates</div></a>
    </div>
    
    <div>
       {% for link in site.data.links %}
       <a href="{{ link.url }}"><div class="link"><img src="{{ site.baseurl }}/assets/{{ link.icon }}" /></div></a>
       {% endfor %}
     </div>
  </div>
</div>
