<div class="header-wrapper">
  <div class="profile-container">
    <img
      class="profile-img"
      src="{{ site.baseurl }}/assets/images/{{ site.pic }}"
      alt="profile picture"
    />
  </div>

  {% if site.data.links %}
  <div class="container-block">
    {% if site.name %}
    <h1 class="name">{{ site.name }}</h1>
    {% endif %} {% if site.tagline %}
    <h3 class="tagline">{{ site.tagline }}</h3>
    {% endif %}

    <form
      action="https://buttondown.email/api/emails/embed-subscribe/param"
      method="post"
    >
      <input type="email" name="email" placeholder="Email" />
      <input type="hidden" value="1" name="embed" />
      <input type="submit" value="Subscribe" />
    </form>

    <p>
      {%for link in site.data.links %}
      <a href="{{ link.url }}"><div class="link">{{ link.title }}</div></a>
      {% endfor %}
    </p>
  </div>
  {% endif %}
</div>
