{% if site.data.videos %}
<section>
  <h1>Videos</h1>

  {% for video in site.data.videos %}
  <div
    style="
      display: inline-block;
      width: 49%;
      margin: 0 auto;
      vertical-align: top;
    "
  >
    {% if video.thumbnail %}
    <a href="{{ video.link }}"><img src="{{ video.thumbnail }}" /></a>
    {% endif %}

    <b><a href="{{ video.link }}">{{ video.title }}</a></b>

    {% if video.tagline %}
    <p>{{ video.tagline }}</p>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endif %}
