{% if site.data.videos %}
<section class="section projects-section">

  <h2 class="section-title">Videos</h2>

  {% for intro in site.data.videos %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div>
  {% endfor%}

  {% for video in site.data.videos %}
    <div class="item">

      <span class="project-title"><a href="{{ video.link }}">{{ video.title }}</a></span>

      {% if video.tagline %}
      - <span class="project-tagline">{{ video.tagline }}</span>
      {% endif %}


    </div>
  {% endfor %}

</section>
{% endif %}
