html {
  --page-background-color: hsl(270, 50%, 80%);
  --header-background-color: hsl(270, 100%, 20%);
  --card-background-color: hsl(270, 50%, 99%);
  --card-text-color: hsl(270, 100%, 10%);
}

@media (prefers-color-scheme: dark) {
  html {
    --page-background-color: hsl(270, 50%, 20%);
    --header-background-color: hsl(270, 100%, 15%);
    --card-background-color: hsl(270, 50%, 10%);
    --card-text-color: hsl(270, 100%, 95%);
  }

  img {
    opacity: .75;
  }
  
  img:hover {
    opacity: 1;
  }
}

body {
  background: var(--page-background-color);
  padding: 30px;
}

@media (max-width: 767px) {
  body {
    padding: 0;
    margin: 0;
  }
}

.wrapper {
  background: var(--card-background-color);
  max-width: 1024px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  overflow: hidden;
  color: var(--card-text-color);
}
@media (max-width: 767px) {
  .wrapper {
    border-radius: 0;
  }
}

.header-wrapper {
  display: flex;
  background: var(--header-background-color);
  color: white;
}
@media (max-width: 767px) {
  .header-wrapper {
    flex-direction: column;
  }
}

.header-wrapper a {
  color: white;
}

.header-wrapper .profile-container {
  display: flex;
  width: 240px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .header-wrapper .profile-container {
    width: 100%;
    height: 200px;
  }
}

.header-wrapper .profile-container .profile-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.header-wrapper .name {
  font-weight: 300;
  margin-bottom: 0;
  border: 0;
}

.header-wrapper .tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
}

.header-wrapper .link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.2);
  padding: 6px 12px;
  margin: 12px 0;
  border-radius: 4px;
}

.header-wrapper .link:hover {
  background: rgba(0, 0, 0, 0.4);
}

.header-wrapper .container-block {
  padding: 10px 30px;
  display: inline-block;
}

.main-wrapper {
  padding: 60px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .main-wrapper {
    padding: 30px;
  }
}

form {
  margin: 12px 0;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 4px;
  padding: 6px 12px;
}

input[type="email"] {
  width: 200px;
  background-color: var(--card-background-color);
}

input[type="submit"] {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

input[type="submit"]:hover {
  background: rgba(0, 0, 0, 0.4);
}
